# random forest algorithm

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data =pd.read_csv("loan_dataset.csv")
data.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,0,0,0,0,0,0,1,0,1
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,0,0,0,0,0,0,0,0,1
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,0,0,0,0,0,1,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,3,4,5,6,7,8,9,10,11,1

In [3]:
data.tail()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
116053,382119962287,Y,Browning-Hart,4.125,153000,360,2012-02-01,04/2012,88,2.0,...,0,0,0,0,0,0,0,0,0,0
116054,582803915466,Z,OTHER,3.000,150000,120,2012-01-01,03/2012,35,1.0,...,0,0,0,0,0,0,0,0,0,0
116055,837922316947,X,OTHER,3.875,166000,360,2012-02-01,04/2012,58,2.0,...,0,0,0,0,0,0,0,0,0,0
116056,477343182138,X,OTHER,4.250,169000,360,2012-02-01,04/2012,74,2.0,...,0,0,0,0,0,0,0,0,0,0
116057,763308490661,Z,Thornton-Davis,3.375,252000,180,2012-01-01,03/2012,29,2.0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data.shape

(116058, 29)

In [5]:
data.columns

Index(['loan_id', 'source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12',
       'm13'],
      dtype='object')

In [6]:
data.nunique()

loan_id                     116058
source                           3
financial_institution           19
interest_rate                  923
unpaid_principal_bal           646
loan_term                      140
origination_date                 3
first_payment_date               4
loan_to_value                   92
number_of_borrowers              2
debt_to_income_ratio            58
borrower_credit_score          221
loan_purpose                     3
insurance_percent               14
co-borrower_credit_score       216
insurance_type                   2
m1                               4
m2                               5
m3                               6
m4                               7
m5                               8
m6                               9
m7                              10
m8                              10
m9                              11
m10                             12
m11                             13
m12                             13
m13                              2
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116058 entries, 0 to 116057
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   loan_id                   116058 non-null  int64
 1   source                    116058 non-null  object
 2   financial_institution     116058 non-null  object
 3   interest_rate             116058 non-null  float64
 4   unpaid_principal_bal      116058 non-null  int64
 5   loan_term                 116058 non-null  int64
 6   origination_date          116058 non-null  object
 7   first_payment_date        116058 non-null  object
 8   loan_to_value             116058 non-null  int64
 9   number_of_borrowers       116058 non-null  float64
 10  debt_to_income_ratio      116058 non-null  float64
 11  borrower_credit_score     116058 non-null  float64
 12  loan_purpose              116058 non-null  object
 13  insurance_percent         116058 non-null  float64
 14  co-borrower_credit_score  116058 non-null  float64
 15  insurance_type            116058 non-null  float64
 16  m1                        116058 non-null  int64
 17  m2                        116058 non-null  int64
 18  m3                        116058 non-null  int64
 19  m4                        116058 non-null  int64
 20  m5                        116058 non-null  int64
 21  m6                        116058 non-null  int64
 22  m7                        116058 non-null  int64
 23  m8                        116058 non-null  int64
 24  m9                        116058 non-null  int64
 25  m10                       116058 non-null  int64
 26  m11                       116058 non-null  int64
 27  m12                       116058 non-null  int64
 28  m13                       116058 non-null  int64
dtypes: float64(7), int64(17), object(5)
memory usage: 25.7+ MB

In [8]:
data.isna().sum()

loan_id                     0
source                      0
financial_institution       0
interest_rate               0
unpaid_principal_bal        0
loan_term                   0
origination_date            0
first_payment_date          0
loan_to_value               0
number_of_borrowers         0
debt_to_income_ratio        0
borrower_credit_score       0
loan_purpose                0
insurance_percent           0
co-borrower_credit_score    0
insurance_type              0
m1                          0
m2                          0
m3                          0
m4                          0
m5                          0
m6                          0
m7                          0
m8                          0
m9                          0
m10                         0
m11                         0
m12                         0
m13                         0
dtype: int64

# preprocessing

In [9]:
data.dtypes

loan_id                       int64
source                       object
financial_institution        object
interest_rate               float64
unpaid_principal_bal          int64
loan_term                     int64
origination_date             object
first_payment_date           object
loan_to_value                 int64
number_of_borrowers         float64
debt_to_income_ratio        float64
borrower_credit_score       float64
loan_purpose                 object
insurance_percent           float64
co-borrower_credit_score    float64
insurance_type              float64
m1                            int64
m2                            int64
m3                            int64
m4                            int64
m5                            int64
m6                            int64
m7                            int64
m8                            int64
m9                            int64
m10                           int64
m11                           int64
m12                           int64
m13                           int64
dtype: object

In [10]:
data[["origination_date","first_payment_date"]]

       origination_date first_payment_date
0            2012-03-01            05/2012
1            2012-01-01            03/2012
2            2012-01-01            03/2012
3            2012-02-01            04/2012
4            2012-02-01            04/2012
...                 ...                ...
116053       2012-02-01            04/2012
116054       2012-01-01            03/2012
116055       2012-02-01            04/2012
116056       2012-02-01            04/2012
116057       2012-01-01            03/2012

[116058 rows x 2 columns]

In [11]:
data.columns

Index(['loan_id', 'source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12',
       'm13'],
      dtype='object')

In [12]:
x=data.drop(['loan_id','origination_date','insurance_type','first_payment_date','insurance_percent', 'm13'],axis=1)
y=data['m13']

In [13]:
data['financial_institution'].value_counts()

OTHER                          49699
Browning-Hart                  31852
Swanson, Newton and Miller      6874
Edwards-Hoffman                 4857
Martinez, Duffy and Bird        4715
Miller, Mcclure and Allen       3158
Nicholson Group                 2116
Turner, Baldwin and Rhodes      1846
Suarez Inc                      1790
Cole, Brooks and Vincent        1642
Richards-Walters                1459
Taylor, Hunt and Rodriguez      1259
Sanchez-Robinson                1193
Sanchez, Hays and Wilkerson      853
Romero, Woods and Johnson        750
Thornton-Davis                   651
Anderson-Taylor                  483
Richardson Ltd                   473
Chapman-Mcmahon                  388
Name: financial_institution, dtype: int64

# label encoding to 'financial_institution'

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['financial_institution'] = le.fit_transform(x['financial_institution'])
x.head()

,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,...,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
0,Z,18,4.250,214000,360,95,1.0,22.0,694.0,C86,...,0,0,0,0,1,0,0,0,0,0
1,Y,15,4.875,144000,360,72,1.0,44.0,697.0,B12,...,0,0,0,0,0,0,0,0,1,0
2,Z,17,3.250,366000,180,49,1.0,33.0,780.0,B12,...,0,0,0,0,0,0,0,0,0,0
3,X,8,4.750,135000,360,46,2.0,44.0,633.0,B12,...,0,0,0,0,0,0,1,1,1,1
4,X,8,4.750,124000,360,80,1.0,43.0,681.0,C86,...,2,3,4,5,6,7,8,9,10,11

In [15]:
# one hot encoding  to source and loan_purpose

In [16]:
x['source'].value_counts()

X    63858
Y    37554
Z    14646
Name: source, dtype: int64

In [17]:
x['loan_purpose'].value_counts()

A23    58462
B12    29383
C86    28213
Name: loan_purpose, dtype: int64

In [18]:
source_ec =pd.get_dummies(x["source"])
loan_ec =pd.get_dummies(x["loan_purpose"])

In [19]:
x=pd.concat([x,source_ec,loan_ec],axis=1)

In [20]:
x.head()

,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,...,m9,m10,m11,m12,X,Y,Z,A23,B12,C86
0,Z,18,4.250,214000,360,95,1.0,22.0,694.0,C86,...,0,0,0,0,0,0,1,0,0,1
1,Y,15,4.875,144000,360,72,1.0,44.0,697.0,B12,...,0,0,1,0,0,1,0,0,1,0
2,Z,17,3.250,366000,180,49,1.0,33.0,780.0,B12,...,0,0,0,0,0,0,1,0,1,0
3,X,8,4.750,135000,360,46,2.0,44.0,633.0,B12,...,1,1,1,1,1,0,0,0,1,0
4,X,8,4.750,124000,360,80,1.0,43.0,681.0,C86,...,8,9,10,11,1,0,0,0,0,1

In [21]:
x=x.drop(["source","loan_purpose"],axis=1)

In [22]:
x.head()

,financial_institution,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,co-borrower_credit_score,m1,...,m9,m10,m11,m12,X,Y,Z,A23,B12,C86
0,18,4.250,214000,360,95,1.0,22.0,694.0,0.0,0,...,0,0,0,0,0,0,1,0,0,1
1,15,4.875,144000,360,72,1.0,44.0,697.0,0.0,0,...,0,0,1,0,0,1,0,0,1,0
2,17,3.250,366000,180,49,1.0,33.0,780.0,0.0,0,...,0,0,0,0,0,0,1,0,1,0
3,8,4.750,135000,360,46,2.0,44.0,633.0,638.0,0,...,1,1,1,1,1,0,0,0,1,0
4,8,4.750,124000,360,80,1.0,43.0,681.0,0.0,0,...,8,9,10,11,1,0,0,0,0,1

In [23]:
x.shape

(116058, 27)

# step 3 feature engineering

In [24]:
x.columns

Index(['financial_institution', 'interest_rate', 'unpaid_principal_bal',
       'loan_term', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score',
       'co-borrower_credit_score', 'm1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7',
       'm8', 'm9', 'm10', 'm11', 'm12', 'X', 'Y', 'Z', 'A23', 'B12', 'C86'],
      dtype='object')

In [25]:
x["credit_score"]=x["borrower_credit_score"]+x["co-borrower_credit_score"]

In [26]:
x = x.drop(data[["co-borrower_credit_score",'borrower_credit_score']],axis=1)

In [27]:
x.head()

,financial_institution,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,m1,m2,m3,...,m10,m11,m12,X,Y,Z,A23,B12,C86,credit_score
0,18,4.250,214000,360,95,1.0,22.0,0,0,0,...,0,0,0,0,0,1,0,0,1,694.0
1,15,4.875,144000,360,72,1.0,44.0,0,0,0,...,0,1,0,0,1,0,0,1,0,697.0
2,17,3.250,366000,180,49,1.0,33.0,0,0,0,...,0,0,0,0,0,1,0,1,0,780.0
3,8,4.750,135000,360,46,2.0,44.0,0,0,0,...,1,1,1,1,0,0,0,1,0,1271.0
4,8,4.750,124000,360,80,1.0,43.0,0,1,2,...,9,10,11,1,0,0,0,0,1,681.0

In [28]:
x['mean'] =x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7','m8', 'm9', 'm10', 'm11', 'm12']].mean(axis=1)

In [29]:
x['sum'] = x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7',
       'm8', 'm9', 'm10', 'm11', 'm12']].sum(axis=1)
x['skew'] =x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7',
       'm8', 'm9', 'm10', 'm11', 'm12']].skew(axis=1)
x['kurt'] =x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7',
       'm8', 'm9', 'm10', 'm11', 'm12']].kurt(axis=1)

In [30]:
x.columns

Index(['financial_institution', 'interest_rate', 'unpaid_principal_bal',
       'loan_term', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'm1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8',
       'm9', 'm10', 'm11', 'm12', 'X', 'Y', 'Z', 'A23', 'B12', 'C86',
       'credit_score', 'mean', 'sum', 'skew', 'kurt'],
      dtype='object')

In [31]:
#x=x.drop(x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7',
       #'m8', 'm9', 'm10', 'm11', 'm12']],axis=1)

# splitting the dataset

In [32]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.3,random_state=2)

In [33]:
x_train.shape

(81240, 30)

In [34]:
y_train.shape

(81240,)

In [35]:
y_test.shape

(34818,)

In [36]:
x_test.shape

(34818, 30)

# build the model

In [37]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
y_pred5 = rfc.predict(x_test)

In [38]:
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix
print("Accuracy on decision tree mode is: ",accuracy_score(y_test,y_pred5))
print("Accuracy on decision tree mode is: ",f1_score(y_test,y_pred5))
print("Accuracy on decision tree mode is: ",confusion_matrix(y_test,y_pred5))

Accuracy on decision tree mode is:  0.9957206042851399
Accuracy on decision tree mode is:  0.4879725085910653
Accuracy on decision tree mode is:  [[34598    21]
 [  128    71]]

f1 near to 0 means not a good moel,near to 1 means good model

# step feature importance

In [39]:
pd.Series(rfc.feature_importances_,index=x.columns).sort_values(ascending=False)*100

credit_score             12.109111
unpaid_principal_bal     11.746400
m12                       9.366653
debt_to_income_ratio      8.258205
loan_to_value             7.210094
interest_rate             7.022733
sum                       6.155010
mean                      5.367001
m11                       4.860697
financial_institution     3.907732
kurt                      3.556931
m10                       3.378822
skew                      2.830594
m9                        2.198581
loan_term                 1.783930
m8                        1.059281
X                         1.008209
Y                         0.970620
m7                        0.938900
A23                       0.920696
number_of_borrowers       0.913492
B12                       0.891359
C86                       0.825434
Z                         0.594987
m5                        0.508027
m4                        0.429489
m6                        0.391907
m1                        0.325502
m2                        0.236993
m3                        0.232610
dtype: float64

#  step Distribution of prediction probabilities

In [40]:
threshold=0.22
y_pred_prob =rfc.predict_proba(x_test)[:,1]
y_pred5 = (y_pred_prob>threshold).astype(int)

In [41]:
f1_score(y_test,y_pred5)

0.5169712793733682

# Step :Fine tuning of hyperparameters

In [42]:
rfc.fit(x_train,y_train)

RandomForestClassifier()

In [43]:
rft=RandomForestClassifier(n_estimators=500,max_depth=10,random_state=42,criterion='entropy')

In [ ]:
rft.fit(x_train,y_train)

In [ ]:
y_pred5 =rft.predict(x_test)
f1_score(y_test,y_pred5)

# gradient boosting

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc.fit(x_train, y_train)
y_pred6 = gbc.predict(x_test)

In [ ]:
f1_score(y_test,y_pred6)

In [ ]:
accuracy_score(y_test,y_pred6)

# extra gradiant boosting

In [ ]:
 pip install xgboost

In [ ]:
from xgboost import XGBClassifier

In [ ]:
xgbc = XGBClassifier()
xgbc.fit(x_train, y_train)
y_pred7 = xgbc.predict(x_test)

In [ ]:
f1_score(y_test,y_pred7)

In [ ]:
accuracy_score(y_test,y_pred7)